@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:is(*, *::before, *::after) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Roboto", sans-serif;
}

html {
  font-family: var(--main-font);
  font-weight: 100;
  font-size: 16px;
  scroll-behavior: smooth;
}

header {
  width: min(100%, 1920px);
  margin: auto;
}

.flex-container {
  width: 100%;
  display: flex;
  background-color: blue;
  padding: 1rem;
}

ul {
  list-style-type: none;
}

.visitor-counter {
  background-color: brown;
  flex: 6;
}

.social-net {
  display: flex;
  background-color: cadetblue;
  flex: 6;
  justify-content: end;
}
